{% extends 'home/base.html' %}

{% block title %}Student Login{% endblock %}
{% block home %} {% endblock %}">
{% block students %} active {%endblock %}
{% block companies %} {%endblock %}
{% block training %} {%endblock %}
{% block contact %} {%endblock %}

{% block body%}

<div class="container-fluid">
    <div class="row modal-body">

        <div class="col-md-6">
            <img src="/static/home/images/bg2.jpg" alt="" height="360rem" width="100%">

        </div>

        <!-- <div class="col-md-6"
            style="background-image: url(/static/home/images/bg2.jpg) ;background-repeat: no-repeat; background-size: cover; height: 58vh; width: 40vw; opacity: .7;">
            <br> 
            <h2 style=" color: black;">&nbsp; &nbsp; &nbsp; &nbsp;<b>Students Section</b> </h2>
             <br><hr > 
            <b style=" color: purple ;">  >Welcome to our Student's Login Page.Here you Can regester yourself.And Once you get verified from the admin.You can login from here.And you can apply for new jobs and can see the list of jobs posted by the companies. You can upload your resume as well.</p></b>
        </div> -->
        <div class="col-md-6" style="background-color: slategray;">
            <div class="panel panel-default" style="background-color: slategray; margin-top: 10px;">
                <div class="panel-body">
                    <h2 style="color:Yellow;"><strong>Student Login</strong></h2>
                    <hr>
                    {% if form.errors %}
                    <p class="error">Invalid username or password</p>
                    {% endif %}
                    <form class="form-horizontal " action="" method="post" enctype="multipart/form-data">
                        <!--this is for security pupose against click jacking -->
                        {% csrf_token %}
                       <i style="color: aliceblue;"> {{ form }}</i>
                    

                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-10">
                                <br>
                                <button type="submit" class="btn btn-primary ">Login</button>
                            </div>
                        </div>
                    </form>
                    <div  class="col-sm-offset-0">
                        <a style="color:pink;" href="{% url 'student:student_register' %}">New Student Registration..</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-6">

            </div> -->
    </div>

    <div class="row">
        <div class="col-md-12" style=" background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); height:10px; width: 100vw; " >
        </div>
    </div>

</div>
{% endblock %}