{% extends 'home/user_profile.html' %}
{% block name %}
{{username}}
{% endblock %}

{%block main_body%}

<div class="listing" style="background-color: slategrey;">
    {% for item in form %}
        <div style="color: white;margin-left: 10px;">Job ID :<span style="color:yellow;" > &nbsp  {{ item.id}}</span> </div>

        <hr>
        <div  style="color: white;margin-left: 10px;">Company Name :<span style="color:yellow;" > &nbsp  {{ company }}</span> </div>

        <hr>
        <div  style="color: white;margin-left: 10px;">Job Position : <span style="color:yellow;" > &nbsp {{ item.c_position }}</span></div>

        <hr>
        
        <div  style="color: white;margin-left: 10px;">Job Description :<span style="color:yellow;" > &nbsp {{ item.c_description }}</span></div>
        
        <hr>
        <div  style="color: white;margin-left: 10px;">CTC offered :<span style="color:yellow;" > &nbsp {{ item.c_ctc_offered }}</span></div>
        <hr>
        <div  style="color: white;margin-left: 10px;">Degree Required:<span style="color:yellow;" > &nbsp {{ item.c_course }}</span></div>
    
        <hr>
        <div  style="color: white;margin-left: 10px;">Branch Required:<span style="color:yellow;" > &nbsp {{ item.c_branch }}</span></div>
    
        <hr>
        <div>   <form class="form-horizontal " action="/company/applied_msg/{{ item.id }}" method="post" enctype="multipart/form-data">
                        <!--this is for security pupose against click jacking -->
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-10">
                                <button type="submit" class="btn btn-success" {{disabled}}>Apply</button>
                            </div>
                        </div>
                    </form>
        </div>
            {% endfor %}
</div>
{% endblock %}