{% extends 'home/recruiter_profile.html' %}
{% block name %}
{{username}}
{% endblock %}

{%block main_body%}

<div class="listing">
    <div class="form-group">
        <div class="">
            <span class="text-danger small">
                {{ form.errors }}
            </span>
        </div>
        <div  style="background-color: slategray; margin-top: -55px; padding-top:.1rem; ">
            <div class="text-center">
                <h3  style="color: yellow;">Company Name : {{ form.c_company_name }}</h3>
            </div>
            <hr>
        </div>

        <div style="background-color: slategray;">
            <div class="page-header">

              <u  style="color: yellow;">  Company Description</u> <br>
                <i style="font-size:15px ;margin-left:10px; ">{{ form.c_details }}</i>
            </div>
        </div>
        <div style="background-color: slategray;">
            <div class="page-header">
               <u style="color: yellow;"> Contact Details</u> <br>
               <i style="font-size:15px ;margin-left:10px;">{{ form.c_contact }} </i><br>
               <i style="font-size:15px ;margin-left:10px; ">{{ form.c_email }} </i>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}