{% extends 'home/recruiter_profile.html' %}

{% block title %}
    Add New Job
{% endblock %}

{% block name %}
{{username}}
{% endblock %}

{% block main_body %}
<form style="background-color:slategrey ; padding-left:5%; "  method="POST" enctype="multipart/form-data">
    <h3 style="color:yellow; margin-top: -55px; text-align: center; padding-top: 15px;">Posting Jobs</h3>
    <hr>
    {% csrf_token %}
    
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}