
{% extends 'home/base.html' %}
{% block title %}Contact{% endblock %}
{% block home %} {% endblock %}">
{% block students %} {%endblock %}
{% block companies %} {%endblock %}
{% block training %} {%endblock %}
{% block contact %} active {%endblock %}

{% block body%}
<div class="row">
    <div class="col-md-6 " style="  background-color: slategray; border: 3px solid yellow; border-radius: 1rem; ">
        <h1 style="margin-right:1rem ;">Contact Us:</h1>
        <p style="  background-color: pink; border: 1px solid slategray; border-radius: 1rem; padding: 1rem; "> We welcome you to our placementcell website. For any query you can email us.Details are given below.Here you can also contact our placement cell coordinator for placement related queries. Do let us Know any queries you have ,we would be happy to help  you. Do also share your feedback if any through E-Mail.Your feedback will help us to improve our website and our services. </p>
        <hr>
        <h2>&rarr; MEET OUR GREAT TEAM</h2>
        <p style="  background-color: pink; border: 1px solid slategray; border-radius: 1rem; padding: 1rem; " > &rarr;E-Mail ID : placementcell@iic.du.ac.in</p>
        <p style="  background-color: pink; border: 1px solid slategray; border-radius: 1rem; padding: 1rem; ">&rarr;Website: http://uod.ac.in/index.php?page=institute-of-informatics-communication-iic</p>
        <p style="  background-color: pink; border: 1px solid slategray; border-radius: 1rem; padding: 1rem; ">&rarr;Linkedin:https://in.linkedin.com/in/iic-placement-cell</p>
    </div>
    <div class="col-md-6" >
        <b> <u> &rarr;Address:</u></b>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.523547938551!2d77.16115651414329!3d28.584066593025753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1d11d46ccc85%3A0x2e94d9687f938329!2sInstitute%20of%20Informatics%20and%20Communication%2C%20UDSC!5e0!3m2!1sen!2sin!4v1651300177575!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<hr>
<div class="row" >
    <div class="col-md-3" style="background-color:lightslategray;  padding-right:10px; border:2px yellow solid;border-radius:5px;">
        <div class="card" >
            <img src="/static/home/images/bg1.jpg" class="card-img-top img-circle " height="250vh" width="305vw" alt="...">
            <div class="card-body" >
                <h4 class="card-title">Murari Thakur</h4>
                <p class="card-text">Placement Coordinator at Institute of Informatics and Communication(IIC).</p>
                <a href="#" class="btn btn-primary">Linkedin</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-3 " style="background-color: lightslategray; padding-right:10px; border:2px yellow solid;border-radius:5px;">
        <div class="card"  >
            <img src="/static/home/images/bg1.jpg" class="card-img-top img-circle " height="250vh" width="305vw" alt="...">
            <div class="card-body" >
                <h4 class="card-title">Ayush Pandey</h4>
                <p class="card-text">Placement Coordinator at Institute of Informatics and Communication(IIC).</p>
                <a href="#" class="btn btn-primary">Linkedin</a>
            </div>
        </div>

    </div>
    <hr>
    <div class="col-md-3 " style="background-color: lightslategray; padding-right:5px; border:2px yellow solid;border-radius:5px;">
        <div class="card "  >
            <img src="/static/home/images/bg1.jpg" class="card-img-top img-circle " height="250vh" width="305vw" alt="...">
            <div class="card-body" >
                <h4 class="card-title">Tarun Sagar</h4>
                <p class="card-text">Placement Coordinator at Institute of Informatics and Communication(IIC).</p>
                <a href="#" class="btn btn-primary">Linkedin</a>
            </div>
        </div>

    </div>
    <hr>
    <div class="col-md-3" style="background-color: lightslategray; padding-right:5px;border-radius:5px; border:2px yellow solid;">
        <div class="card "  >
            <img src="/static/home/images/bg1.jpg" class="card-img-top img-circle " height="250vh" width="299vw" alt="...">
            <div class="card-body" >
                <h4 class="card-title">Manisha Maurya</h4>
                <p class="card-text">Placement Coordinator at Institute of Informatics and Communication(IIC).</p>
                <a href="#" class="btn btn-primary">Linkedin</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}